#body {
  background: linear-gradient(0deg, #01161a 15%, #0d8fa9 60%, #bbecf6);
  display: grid;
  padding: 10px
}

.boards-container {
  display: grid;
  gap: 15px;

  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.board-container {
  height: 30%;
  --grid-size: 10;
  --cell-size: 40px;
  --ship-color: rgb(12, 20, 74);
  display: grid;
  gap: 2px;
  height: fit-content;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  box-shadow: 0 0 8px 0px rgb(65, 189, 235);
  background-color: rgba(65, 190, 235, 0.427);
}

.board-cell {
  background: rgb(208, 233, 255);
  border: 1px solid rgb(21, 0, 255);
  border-radius: 8px;
  transition: 0.3s;
  /* overflow:visible; */
}

.enemy-baord .board-cell:hover {
  box-shadow: 0 0 8px 0px rgb(0, 153, 255);
  transform: scale(1.1);
}

.ships-container {
  gap: 1px;
  cursor: move;
}

.ship-container {
  height: 40px;
  width: 40px;
  cursor: move;
}

.ship-tile {
  background: var(--ship-color);
}

.ship-hover {
  background-color: green;
}

.ship-hover.ilegal-position {
  background-color: red;
}

.temp-ship-tile {
  background-color: yellow;
}

.board-cell {
  transition: all 0.2s ;
}

.board-cell.hit{
  background: radial-gradient(circle,
    rgb(252, 135, 2) 5%,
    rgb(255, 0, 0) 20%,
    var(--ship-color) 75%);
}

.miss {
  background-color: rgb(25, 207, 227);
}

.new-game-container {
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
}

button {
  cursor: pointer;
}